<template>
  <div class="block" :style="{left: post.x + 'px', top: post.y + 'px'}" @mousedown="MouseDownBlock">
    <button class="btn-close-block" @click="Delete"></button>
    <p class="p-name">{{post.func.value.NameLocal}}</p>
    <div class="my-hr" />
    <ListConstants
      class="list-args"
      :typeList="typeList"
      :is_const="true"
      :block_id="post.id"
      :args="post.outArgs"
      :consts="post.consts"
      :null_description="'Пусто...'"
      @start_drag_arg="StartDragArg"
      @delete_arg="DeleteArg"
      @list_change="ListUpdate"
    />
  </div>
</template>

<script>
import ListConstants from "@/components/Desktop/Consts/ListConstants";
export default {
  components: {
    ListConstants
  },
  props: {
    typeList: Array,
    post: Object
  },
  data() {
    return {
      onDrag: false
    };
  },
  mounted() {
    this.SetMax();
    this.SetPointArgs();
    document.addEventListener("mousemove", this.MouseMove);
    document.addEventListener("mouseup", this.MouseUp);
    this.$emit("mounted", this.post);
  },
  beforeDestroy() {
    document.removeEventListener("mousemove", this.MouseMove);
    document.removeEventListener("mouseup", this.MouseUp);
  },
  methods: {
    // Получение координат центра аргумента
    GetPointArg(id) {
      let elem = document.getElementById(id);
      let x0 = elem.offsetLeft + elem.offsetWidth / 2;
      let y0 = elem.offsetTop + elem.offsetHeight / 2;
      let x1 = elem.offsetParent.offsetLeft;
      let y1 = elem.offsetParent.offsetTop;
      let x2 = elem.offsetParent.offsetParent.offsetLeft;
      let y2 = elem.offsetParent.offsetParent.offsetTop;
      return {
        x: x0 + x1 + x2,
        y: y0 + y1 + y2
      };
    },
    // запись координат для одного аргумента
    SetPointArg(index) {
      let point = this.GetPointArg("out_" + index + "_" + this.post.id);
      this.post.outArgs[index].x = point.x;
      this.post.outArgs[index].y = point.y;
      this.post.outArgs[index].id = "out_" + index + "_" + this.post.id;
    },
    // запись координат всех аргументов в массив
    SetPointArgs() {
      for (let index = 0; index < this.post.outArgs.length; index++)
        this.SetPointArg(index);
    },
    // запись максимально удаленной точки занимаемой этим блоком
    SetMax() {
      this.post.Xmax = this.$el.offsetLeft + this.$el.clientWidth;
      this.post.Ymax = this.$el.offsetTop + this.$el.clientHeight;
    },
    // удаление блока
    Delete() {
      this.$emit("delete", this.post);
    },
    // удаление аргумента в листе
    DeleteArg(arg) {
      this.$emit("delete_arg", arg);
      this.SetMax();
    },
    // смена позиций в листе
    ListUpdate() {
      this.SetMax();
    },
    // начало перетаскивания аргумента или стрелки логики
    StartDragArg(arg) {
      this.$emit("start_drag_arg", arg);
    },
    // начало перетаскивания блока
    MouseDownBlock(e) {
      let path = e.path || (e.composedPath && e.composedPath());
      if (!path[0]._prevClass.includes("btn")) {
        this.$emit("start_drag", this.post);
        this.onDrag = true;
      }
    },
    // перетаскивание блока
    MouseMove() {
      if (this.onDrag) {
        this.SetPointArgs();
        this.SetMax();
      }
    },
    // конец всех перетаскиваний
    MouseUp() {
      this.onDrag = false;
      this.$emit("stop_drag", this.post);
    }
  }
};
</script>

<style scoped>
.list-args {
  margin: 0 14px 0 -25px;
}
/* БЛОКИ */
.block {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  position: absolute;
  z-index: 2;
  width: 250px;
  /* height: 100px; */
  border-radius: 10px;
  background: #fff;
  padding-bottom: 5px;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
}
.btn-close-block {
  outline: none;
  position: relative;
  right: -235px;
  top: -7px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  opacity: 0;
  border: 2px solid #fff;
  background-color: #333;
  background-image: url(../../../assets/images/close_0.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  transition: opacity 0.1s;
}
.btn-close-block:hover {
  opacity: 1;
}
.p-name {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 0px;
}
.my-hr {
  /* background: rgba(0, 0, 0, 0.2); */
  margin: 3px auto;
  border-radius: 5px;
  height: 2px;
  width: 90%;
}
</style>