<template>
  <div class="block" :style="{left: post.x + 'px', top: post.y + 'px'}">
    <div class="head-arg">Аргументы команды</div>
    <ListConstants
      class="list-container"
      :typeList="typeList"
      :is_const="false"
      :block_id="post.id"
      :args="post.outArgs"
      :consts="post.consts"
      :null_description="'Пусто...'"
      @start_drag_arg="StartDragArg"
      @list_change="ListUpdate"
      @delete_arg="DeleteArg"
    />
    <div class="out-logic" :id="'outL_0_' + post.id" @mousedown="StartDragArg(post.outLogic[0])">
      <svg width="80" height="80">
        <circle cx="40" cy="40" r="40" />
      </svg>
      <div style="pointer-events: none">Старт</div>
    </div>
  </div>
</template>

<script>
import ListConstants from "@/components/Desktop/Consts/ListConstants";
export default {
  components: {
    ListConstants
  },
  props: {
    typeList: Array,
    post: Object
  },
  mounted() {
    this.SetMax();
    this.SetPointLogics();
    document.addEventListener("mouseup", this.MouseUp);
    this.$emit("mounted", this.post);
  },
  beforeDestroy() {
    document.removeEventListener("mouseup", this.MouseUp);
  },
  methods: {
    // Получение координат точек входа и выхода для стрелок логики
    GetPointLogic(id) {
      let elem = document.getElementById(id);
      let x0 = elem.offsetLeft + elem.offsetWidth / 2;
      let y0 = elem.offsetTop + elem.offsetHeight / 1.5;
      let x1 = elem.offsetParent.offsetLeft;
      let y1 = elem.offsetParent.offsetTop;
      return {
        x: x0 + x1,
        y: y0 + y1
      };
    },

    // запись координат всех точек логики в массив
    SetPointLogics() {
      for (let index = 0; index < this.post.outLogic.length; index++) {
        let point = this.GetPointLogic("outL_0_" + this.post.id);
        this.post.outLogic[index].x = point.x;
        this.post.outLogic[index].y = point.y;
        this.post.outLogic[index].id = "outL_0_" + this.post.id;
      }
    },
    // запись максимально удаленной точки занимаемой этим блоком
    SetMax() {
      this.post.Xmax = this.$el.offsetLeft + this.$el.clientWidth;
      this.post.Ymax = this.$el.offsetTop + this.$el.clientHeight;
    },
    // удаление аргумента в листе
    DeleteArg(arg) {
      this.$emit("delete_arg", arg);
    },
    // начало перетаскивания аргумента или стрелки логики
    StartDragArg(e) {
      this.$emit("start_drag_arg", e);
    },
    // конец всех перетаскиваний
    MouseUp() {
      this.$emit("stop_drag", this.post);
    },
    // смена позиций в листе
    ListUpdate() {
      this.SetMax();
      this.SetPointLogics();
    }
  }
};
</script>

<style scoped>
/* Заголовок аргументов */
.head-arg {
  position: absolute;
  left: 35px;
  color: #eee;
  font-weight: 700;
}
/* БЛОКИ */
.block {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  display: flex;
  position: absolute;
  z-index: 2;
}
/* Лист пргументов */
.list-container {
  margin-top: 20px;
}
/* Точки для логики */
.out-logic {
  margin-left: 10px;
  height: 100%;
}
.out-logic div {
  position: absolute;
  top: 30px;
  right: 7px;
  margin: auto;
}
.out-logic svg {
  fill: #fff;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.4));
}
.out-logic svg:hover {
  fill: #bbb;
}
</style>