<template>
  <div class="block" :style="{left: post.x + 'px', top: post.y + 'px'}" @mousedown="MouseDownBlock">
    <div class="in-logic" :id="'inL_0_' + post.id" @mousedown="StartDragArg(post.inLogic)"></div>
    <button class="btn-close-block" @click="Delete"></button>
    <p class="p-name">{{post.func.value.NameLocal}}</p>
    <div class="my-hr" />
    <div class="in-args" v-for="(inArg, index) in post.inArgs" :key="inArg.id + index">
      <div>
        <div v-show="inArg.status == 'correct'" class="correct-indicator"></div>
        <div
          :id="'in_' + index + '_' + post.id"
          class="target-arg"
          @mousedown="StartDragArg(inArg)"
          v-tooltip="StringTypeArg(true, index)"
        ></div>
      </div>
      <span class="name-const">{{post.func.value.DescriptionProperties[index]}}</span>
      <div class="warning-icon" v-show="ShowWarning(index)" v-tooltip="'Это обязательный аргумент'"></div>
    </div>

    <div class="my-hr" v-if="hrVisible" />

    <div
      class="out-args"
      v-for="(result, index) in post.func.value.DescriptionResults"
      :key="result.id"
    >
      <div>
        <div
          :id="'out_' + index + '_' + post.id"
          class="target-arg"
          @mousedown="StartDragArg(post.outArgs[index])"
          v-tooltip="StringTypeArg(false, index)"
        ></div>
      </div>
      <span class="name-const">{{result}}</span>
    </div>
    <div class="out-logic-container">
      <div
        class="out-logic"
        v-for="(outL, index) in post.outLogic"
        :key="'outL_' + index + '_' + post.id"
        :id="'outL_' + index + '_' + post.id"
        @mousedown="StartDragArg(outL)"
      >
        <svg width="70" height="40">
          <path d="M 0,5 L 0,30 C 50,40 20,40 70,30 L 70,5 C 70,0 65,0 65,0 L 5,0 C 0,0 0,5 0,5" />
        </svg>
        <div v-if="post.func.value.NameClass == 'IF' && index == 0">Да</div>
        <div v-else-if="post.func.value.NameClass == 'IF' && index == 1">Нет</div>
        <div v-else>Дальше</div>
      </div>
    </div>
  </div>
</template>

<script>
// block = {
//       x: 15,
//       y: 15,
//       id: performance.now(),
//       func: funcStart,
//       consts: [],
//       Xmax: Number,
//       Ymax: Number,
//       inArgs: [],
//       outArgs: [],
//       inLogic: { x: -1, y: -1, id: 0, contact: false, status: ""  },
//       outLogic: [{ x: -1, y: -1, id: 0, contact: false, status: ""  }]
// }
export default {
  props: {
    typeList: Array,
    post: Object
  },
  data() {
    return {
      onDrag: false
    };
  },
  mounted() {
    this.SetMax();
    this.SetPointArgs();
    this.SetPointLogics();
    document.addEventListener("mousemove", this.MouseMove);
    document.addEventListener("mouseup", this.MouseUp);
    this.$emit("mounted", this.post);
  },
  beforeDestroy() {
    document.removeEventListener("mousemove", this.MouseMove);
    document.removeEventListener("mouseup", this.MouseUp);
  },
  computed: {
    hrVisible() {
      let result =
        this.post.func.value.TypeProperties.length > 0 &&
        this.post.func.value.TypeResults.length > 0;
      result &= this.post.func.value.TypeResults.length > 0;
      return result;
    }
  },
  methods: {
    // возращает локализированную строку типа аргумента для подсказок
    StringTypeArg(isinArg, index) {
      let type = "";
      if (isinArg) type = this.post.func.value.TypeProperties[index];
      else type = this.post.func.value.TypeResults[index];

      let result = this.typeList.find(t => t.NameType == type.toLowerCase());
      return result === undefined ? "" : result.Description;
    },
    // возращает булево, показывать предупреждение для входящего аргумента
    ShowWarning(index) {
      let indexes = this.post.func.value.Interchangeable;
      return (
        !this.post.inArgs[index].contact &&
        this.post.func.value.RequiredProperties[index] &&
        indexes.every(i => !this.post.inArgs[i].contact)
      );
    },
    // Получение координат центра аргумента
    GetPointArg(id) {
      let elem = document.getElementById(id);
      let x0 = elem.offsetLeft + elem.offsetWidth / 2;
      let y0 = elem.offsetTop + elem.offsetHeight / 2;
      let x1 = elem.offsetParent.offsetLeft;
      let y1 = elem.offsetParent.offsetTop;
      let x2 = elem.offsetParent.offsetParent.offsetLeft;
      let y2 = elem.offsetParent.offsetParent.offsetTop;
      return {
        x: x0 + x1 + x2,
        y: y0 + y1 + y2
      };
    },
    // Получение координат точек входа и выхода для стрелок логики
    GetPointLogic(id) {
      let elem = document.getElementById(id);
      let x0 = elem.offsetLeft + elem.offsetWidth / 2;
      let y0 = id.startsWith("in")
        ? elem.offsetTop + elem.offsetHeight / 2
        : elem.offsetTop + elem.offsetHeight + 6;
      let x1 = elem.offsetParent.offsetLeft;
      let y1 = elem.offsetParent.offsetTop;
      return {
        x: x0 + x1,
        y: y0 + y1
      };
    },
    // запись координат всех аргументов в массив
    SetPointArgs() {
      for (let index = 0; index < this.post.inArgs.length; index++) {
        let point = this.GetPointArg("in_" + index + "_" + this.post.id);
        this.post.inArgs[index].x = point.x;
        this.post.inArgs[index].y = point.y;
        this.post.inArgs[index].id = "in_" + index + "_" + this.post.id;
      }
      for (let index = 0; index < this.post.outArgs.length; index++) {
        let point = this.GetPointArg("out_" + index + "_" + this.post.id);
        this.post.outArgs[index].x = point.x;
        this.post.outArgs[index].y = point.y;
        this.post.outArgs[index].id = "out_" + index + "_" + this.post.id;
      }
    },
    // запись координат всех точек логики в массив
    SetPointLogics() {
      let pointIN = this.GetPointLogic("inL_0_" + this.post.id);
      this.post.inLogic.x = pointIN.x;
      this.post.inLogic.y = pointIN.y;
      this.post.inLogic.id = "inL_0_" + this.post.id;

      for (let index = 0; index < this.post.outLogic.length; index++) {
        let point = this.GetPointLogic("outL_" + index + "_" + this.post.id);
        this.post.outLogic[index].x = point.x;
        this.post.outLogic[index].y = point.y;
        this.post.outLogic[index].id = "outL_" + index + "_" + this.post.id;
      }
    },
    // запись максимально удаленной точки занимаемой этим блоком
    SetMax() {
      this.post.Xmax = this.$el.offsetLeft + this.$el.clientWidth;
      this.post.Ymax = this.$el.offsetTop + this.$el.clientHeight;
    },
    // удаление блока
    Delete() {
      this.$emit("delete", this.post);
    },
    // начало перетаскивания аргумента или стрелки логики
    StartDragArg(arg) {
      this.$emit("start_drag_arg", arg);
    },
    // начало перетаскивания блока
    MouseDownBlock(e) {
      let path = e.path || (e.composedPath && e.composedPath());
      if (path[0]._prevClass !== "btn-close-block") {
        this.$emit("start_drag", this.post);
        this.onDrag = true;
      }
    },
    // перетаскивание блока
    MouseMove() {
      if (this.onDrag) {
        this.SetPointArgs();
        this.SetPointLogics();
        this.SetMax();
      }
    },
    // конец всех перетаскиваний
    MouseUp() {
      this.onDrag = false;
      this.$emit("stop_drag", this.post);
    }
  }
};
</script>

<style scoped>
/* БЛОКИ */
.block {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  position: absolute;
  z-index: 2;
  width: 250px;
  /* height: 100px; */
  border-radius: 10px;
  background: #fff;
  padding-bottom: 5px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
}
.btn-close-block {
  outline: none;
  position: relative;
  right: -235px;
  top: -17px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  opacity: 0;
  border: 2px solid #fff;
  background-color: #333;
  background-image: url(../../../assets/images/close_0.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  transition: opacity 0.1s;
}
.btn-close-block:hover {
  opacity: 1;
}
.p-name {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 0px;
}
.my-hr {
  /* background: rgba(0, 0, 0, 0.2); */
  margin: 3px auto;
  border-radius: 5px;
  height: 2px;
  width: 90%;
}
/* Предупреждение */
.warning-icon {
  min-width: 18px;
  height: 18px;
  margin: -2px 2px;
  background-image: url(../../../assets/images/warning_red.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left;
  animation: flashWarning 3s infinite ease-in-out;
}
@keyframes flashWarning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.name-const {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  width: 100%;
}
/* Входные данные БЛОКА */
.in-args,
.out-args {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  position: relative;
  left: -25px;
  padding: 5px 5px;
  border-radius: 10px 2px 2px 10px;
  background: linear-gradient(150deg, #bbb, #999);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
/* Выходные данные БЛОКА */
.out-args {
  background: linear-gradient(150deg, rgb(255, 194, 194), rgb(228, 157, 157));
}
/* Точка захвата для аргумента БЛОКА */
.target-arg {
  height: 15px;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  margin-right: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  transition: 0.1s;
}
.target-arg:hover {
  background: #c72a2a;
}
/* Индикатор */
.correct-indicator {
  margin: -2px -18px -18px -2px;
  width: 16px;
  height: 16px;
  border: 2px solid yellowgreen;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px yellowgreen;
  animation: green_flash 2s infinite ease-in-out;
}
@keyframes green_flash {
  0%{border-color: yellowgreen}
  50%{border-color: #cbe00c}
  110%{border-color: yellowgreen}
}

/* Точки для логики */
.in-logic {
  pointer-events: none;
  margin: -15px auto -5px;
  border-radius: 5px;
  width: 70px;
  height: 30px;
}
.out-logic-container {
  display: flex;
  text-align: center;
  height: 25px;
}
.out-logic {
  margin: 0 auto;
  width: auto;
}
.out-logic div {
  pointer-events: none;
  position: relative;
  top: -35px;
  font-size: 12px;
  margin: auto;
}
.out-logic svg {
  fill: #fff;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.4));
}
.out-logic svg:hover {
  fill: #bbb;
}
</style>