<template>
  <div class="fields-container">
    <!-- Строка -->
    <textarea v-show="typeProp == 'string'" type="text" :value="value" @input="InputEvent" />
    <!-- Булево -->
    <select v-show="typeProp == 'boolean'" :value="value" @input="InputEvent">
      <option>{{false}}</option>
      <option>{{true}}</option>
    </select>
    <!-- Целочисленное -->
    <input v-show="numberType" type="number" :value="value" @input="InputEvent" />
    <!-- Дробное -->
    <input v-show="floatType" type="text" :value="value" :pattern="floatValid" @input="InputEvent" />
    <!-- Пользователь -->
    <input
      v-show="userType"
      type="text"
      minlength="1"
      maxlength="32"
      :value="value"
      :pattern="userValid"
      @input="InputEvent"
    />
    <!-- Роль -->
    <div class="role-prefix" v-show="typeProp == 'role'">@</div>
    <input
      v-show="typeProp == 'role'"
      class="role-input"
      type="text"
      maxlength="100"
      :value="value"
      @input="InputEvent"
    />
    <!-- Канал -->
    <input
      v-show="typeProp == 'channel'"
      type="text"
      minlength="2"
      maxlength="100"
      :value="value"
      @input="InputEvent"
    />
    <!-- Сервер -->
    <input
      v-show="typeProp == 'guild'"
      type="text"
      maxlength="100"
      :value="value"
      @input="InputEvent"
    />
    <!-- Дата -->
    <input v-show="dateType" type="datetime" :value="value" @input="InputEvent" />
  </div>
</template>

<script>
export default {
  props: {
    type: { type: String, default: "string" },
    value: { type: String, default: "" }
  },
  data() {
    return {
      // валидация типа с плавающей точкой
      floatValid: "^\\d{1,10}(?:[,.]\\d{1,3})?$",
      // валидация типа "пользователь"
      userValid: "^(?:(?!discordtag|everyone|here|```|[@#:]).){1,32}$",
      // валидация типа "канал"
      channelValid: "",
      // валидация типа "время"
      dateValid: ""
    };
  },
  computed: {
    // свойство предоставляет тип поля при изменении типа
    // и устанавливает значение по умолчанию для типа
    typeProp() {
      let val = "";
      if (this.type == "boolean") val = "false";
      else if (this.numberType || this.floatType) val = "0";
      this.$emit("input", val);
      this.$emit("valid", true);
      return this.type;
    },
    // возвращает булево при проверке на тип
    numberType() {
      let actual = [
        "signed byte",
        "byte",
        "short",
        "unsigned short",
        "int",
        "unsigned int",
        "long",
        "unsigned long"
      ];
      return actual.some(t => t == this.type);
    },
    // возвращает булево при проверке на тип
    floatType() {
      let actual = ["float", "double", "decimal"];
      return actual.some(t => t == this.type);
    },
    // возвращает булево при проверке на тип
    userType() {
      let actual = ["user", "member"];
      return actual.some(t => t == this.type);
    },
    // возвращает булево при проверке на тип
    dateType() {
      let actual = ["date time", "time span"];
      return actual.some(t => t == this.type);
    }
  },
  methods: {
    // событие ввода значения
    // обновляет входное значение
    // и сообщает о правильности ввода через событие "valid"
    InputEvent(event) {
      this.$emit("input", event.target.value);
      this.$emit("valid", event.target.validity.valid);
    }
  }
};
</script>

<style scoped>
.fields-container {
  height: 34px;
  display: flex;
}
/* Граница | шрифт */
textarea, input, select {
  border-radius: 5px;
  border: 2px inset #eee;
  font-size: 12px;
  resize: none;
  outline: none;
}
/* Размеры | отступы */
textarea,
input {
  padding-left: 4px;
  width: 132px;
}
input,
select {
  margin: auto 0;
  height: 20px;
}
textarea,
input:invalid {
  border-color: orange;
  box-shadow: 0 0 5px 0 orange;
}
textarea,
input:valid {
  border-color: #eee;
  box-shadow: none;
}
/* Роль */
.role-input {
  padding-left: 18px;
  width: 112px;
}
.role-prefix {
  position: absolute;
  margin-top: 9px;
  margin-left: 5px;
}
</style>