<template>
  <div class="main-container">
    <div
      v-if="consts.length < 1"
      class="null-description"
      :style="{width : (is_const? 182 : 191) + 'px'}"
    >{{null_description}}</div>
    <div
      class="out-args-container"
      :style="{ width: width_arg + 'px' }"
      v-for="(item, index) in consts"
      :key="item.id"
    >
      <div class="out-args" @click.stop="ArgClick(index)" @mousedown.stop>
        <div
          :id="'out_' + index + '_' + block_id"
          class="target-arg"
          @mousedown="MouseDownArg(index)"
          v-tooltip="typeList.find(t=>t.NameType == item.Type).Description"
        />
        <span class="name-const">{{item.Name}}</span>
        <div class="warning-icon" v-show="!item.Valid" v-tooltip="'Проверьте правильность заполнения полей'"></div>
      </div>
      <transition
        @before-enter="AnimBeforeEnter"
        @before-leave="AnimBeforeLeave"
        @enter="AnimEnter"
        @leave="AnimLeave"
        :css="false"
      >
        <div class="edit-constanta" v-show="index == selected" @mousedown.stop>
          <transition>
            <div v-show="index == selected_after">
              <div class="edit-prop">
                <div class="label">Имя</div>
                <input type="text" v-model="item.Name" placeholder="Имя аргумента" />
              </div>
              <div class="edit-prop" v-if="!is_const">
                <div class="label">Описание</div>
                <textarea type="text" v-model="item.Description" placeholder="Описание аргумента" />
              </div>
              <div class="edit-prop">
                <div class="label">Тип значения</div>
                <select v-model="item.Type">
                  <option
                    v-for="type_item in typeListView"
                    :key="type_item.id"
                    :title="type_item.Description"
                    :value="type_item.NameType"
                  >{{type_item.NameLocal}}</option>
                </select>
              </div>
              <div class="edit-prop">
                <div class="label">{{'Значение' + (!is_const ? ' по умолчанию' : '')}}</div>
                <FieldTypeSwich
                  @valid="item.Valid = $event"
                  :type="item.Type"
                  v-model="item.DefaultValue"
                />
              </div>
              <div class="edit-prop" v-if="!is_const">
                <div class="label">Необязательный</div>
                <select v-model="item.IsOptional">
                  <option>{{false}}</option>
                  <option>{{true}}</option>
                </select>
              </div>
              <div class="edit-prop" v-if="!is_const">
                <div class="label">Перехват</div>
                <select v-model="item.IsCatchAll">
                  <option>{{false}}</option>
                  <option>{{true}}</option>
                </select>
              </div>
            </div>
          </transition>
        </div>
      </transition>
    </div>
    <div class="btn-container">
      <button class="btn-plus" @click.self="BtnPlus">+</button>
      <button class="btn-minus" @click.self="BtnMinus">-</button>
    </div>
  </div>
</template>

<script>
import FieldTypeSwich from "@/components/Desktop/Consts/FieldTypeSwich";
import Dynamics from "dynamics.js";
export default {
  components: { FieldTypeSwich },
  props: {
    is_const: { type: Boolean, required: true },
    null_description: { type: String, required: true },
    block_id: { type: Number, required: true },
    args: { type: Array, required: true },
    consts: { type: Array, required: true },
    typeList: Array
  },
  data() {
    return {
      selected: -1,
      selected_after: -1,
      limit_const: 10,
      ignore_type: [
        "signed byte",
        "byte",
        "short",
        "unsigned short",
        "unsigned int",
        "long",
        "unsigned long",
        "double",
        "decimal",
        "user",
        "message",
        "emoji",
        "time span",
        "date time offset"
      ]
    };
  },
  created() {
    this.args.length = 0;

    for (let index = 0; index < this.consts.length; index++) {
      this.args.push({ x: -1, y: -1, id: 0, contact: false });
    }
  },
  mounted() {
    this.SetPointArgs();
  },
  computed: {
    height_list() {
      return this.is_const ? 94 : 181;
    },
    width_arg() {
      return this.is_const ? 250 : 261;
    },
    typeListView() {
      return this.typeList.filter(
        t => !this.ignore_type.some(i => t.NameType == i)
      );
    }
  },
  methods: {
    //
    MouseDownArg(index) {
      this.$emit("start_drag_arg", this.args[index]);
    },
    // Получение координат центра аргумента
    GetPointArg(id) {
      let elem = document.getElementById(id);
      let x0 = elem.offsetLeft + elem.offsetWidth / 2;
      let y0 = elem.offsetTop + elem.offsetHeight / 2;
      let x1 = elem.offsetParent.offsetLeft;
      let y1 = elem.offsetParent.offsetTop;
      let x2 = elem.offsetParent.offsetParent.offsetLeft;
      let y2 = elem.offsetParent.offsetParent.offsetTop;
      return {
        x: x0 + x1 + x2,
        y: y0 + y1 + y2
      };
    },
    // запись координат для одного аргумента
    SetPointArg(index) {
      let point = this.GetPointArg("out_" + index + "_" + this.block_id);
      this.args[index].x = point.x;
      this.args[index].y = point.y;
      this.args[index].id = "out_" + index + "_" + this.block_id;
    },
    // запись координат всех аргументов в массив
    SetPointArgs() {
      for (let index = 0; index < this.args.length; index++)
        this.SetPointArg(index);
    },
    //
    ArgClick(index) {
      if (index == this.selected) this.selected = -1;
      else this.selected = index;
    },
    //
    BtnPlus() {
      if (this.consts.length > this.limit_const) {
        this.$emit("error", "Достигнут лимит аргументов.");
        return;
      }
      let newConst = {
        Name: "НовыйАргумент",
        Description: "",
        DefaultValue: "",
        Type: "string",
        IsOptional: false,
        IsCatchAll: false,
        Valid: true
      };
      this.consts.push(newConst);
      this.args.push({ x: -1, y: -1, id: 0, contact: false });
      this.$nextTick(() => {
        this.UpdateView();
      });
    },
    //
    BtnMinus() {
      if (this.selected < 0 && this.consts.length > 0) {
        let delArg = this.args[this.args.length - 1];
        this.$emit("delete_arg", delArg);
        this.consts.pop();
        this.args.pop();
        this.$nextTick(() => {
          this.UpdateView();
        });
      } else if (this.selected >= 0 && this.selected <= this.consts.length) {
        this.$emit("delete_arg", this.args[this.selected]);
        this.consts.splice(this.selected, 1);
        this.args.splice(this.selected, 1);
        this.selected = -1;
        this.$nextTick(() => {
          this.UpdateView();
        });
      }
    },
    //
    AnimBeforeEnter(el) {
      el.style.height = 0;
    },
    AnimBeforeLeave() {
      this.selected_after = -1;
    },
    //
    AnimEnter(el, done) {
      Dynamics.animate(
        el,
        { height: this.height_list },
        {
          type: Dynamics.easeInOut,
          duration: 300,
          friction: 500,
          change: (el, progress) => {
            this.SetPointArgs();
            if (progress == 1) {
              this.selected_after = this.ParseIndex(
                el.parentElement.firstChild.firstChild.id
              );
              this.UpdateView();
              done();
            }
          }
        }
      );
    },
    //
    AnimLeave(el, done) {
      Dynamics.animate(
        el,
        { height: 0 },
        {
          type: Dynamics.easeInOut,
          duration: 300,
          friction: 500,
          change: (el, progress) => {
            this.SetPointArgs();
            if (progress == 1) {
              this.UpdateView();
              done();
            }
          }
        }
      );
    },
    //
    UpdateView() {
      this.SetPointArgs();
      this.$emit("list_change");
    },
    // Возращает индекс аргумента из его id
    ParseIndex(id) {
      let result = id.split("_")[1];
      return parseInt(result, 10);
    }
  }
};
</script>

<style scoped>
/* Редактирование констант */
.edit-constanta {
  margin: -10px 1px 0 25px;
  font-size: 12px;
  background: linear-gradient(150deg, #bbb, #999);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.7);
  padding: 10px 5px 0px;
}
.edit-prop {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  align-items: center;
}
.edit-prop input,
select,
textarea {
  border-radius: 5px;
  border: 2px inset #eee;
  font-size: 12px;
  outline: none;
}
.edit-prop .label {
  margin: -3px 2px -3px 0;
}
.edit-prop input {
  padding: 0 0 0 4px;
  width: 140px;
}
.edit-prop textarea {
  width: 140px;
  height: 30px;
  resize: none;
}
/* Блок когда нет значений */
.null-description {
  margin: 5px 0;
  padding: 5px 35px 5px;
  border-radius: 10px 2px 2px 10px;
  font-size: 12px;
  background: linear-gradient(150deg, #bbb, #999);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.7);
}
/* Выходные данные БЛОКА */
.out-args-container {
  margin: 0 0 5px;
}
.name-const{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ddd;
  font-size: 12px;
  width: 100%;
}
.out-args {
  position: relative;
  z-index: 1;
  margin: 5px 0 0;
  padding: 5px 5px;
  border-radius: 10px 2px 2px 10px;
  background: linear-gradient(150deg, rgb(136, 25, 25), rgb(91, 21, 21));
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
}
/* Предупреждение */
.warning-icon {
  width: 18px;
  height: 18px;
  min-width: 18px;
  margin: -2px 2px;
  background-image: url(../../../assets/images/warning_yello.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left;
  animation: flashWarning 3s infinite ease-in-out;
}
@keyframes flashWarning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/* Точка захвата для аргумента БЛОКА */
.target-arg {
  min-width: 15px;
  height: 15px;
  width: 15px;
  margin-right: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  transition: 0.1s;
}
.target-arg:hover {
  background: #c72a2a;
}
/* Кнопка + */
.btn-container {
  display: flex;
  width: 52px;
  margin-left: 30px;
}
.btn-minus,
.btn-plus {
  padding: 0;
  margin: auto 3px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  background: rgb(136, 25, 25);
  font-weight: bold;
  color: #ddd;
  transition: background-color 0.1s, color 0.1s;
  font-size: 17px;
}
.btn-plus:hover {
  background: linear-gradient(150deg, rgb(216, 47, 47), rgb(202, 81, 81));
  color: #ddd;
}
.btn-plus:active {
  background: #ccc;
  color: #c72a2a;
}
</style>