<template>
  <div>
    <transition name="fade">
      <div ref="Target" class="obj-draggable" v-show="draw">
        {{text}}
        <!-- <svg viewBox="0 0 160 160" width="160" height="160">
          <circle cx="80" cy="80" r="50" fill="#c72a2a" />
          <g transform=" matrix(0.866, -0.5, 0.25, 0.433, 80, 80)">
            <path d="M 0,70 A 65,70 0 0,0 65,0 5,5 0 0,1 75,0 75,70 0 0,1 0,70Z" fill="#FFF">
              <animateTransform
                attributeName="transform"
                type="rotate"
                from="360 0 0"
                to="0 0 0"
                dur="1s"
                repeatCount="indefinite"
              />
            </path>
          </g>
          <path
            d="M 50,0 A 50,50 0 0,0 -50,0Z"
            transform="matrix(0.866, -0.5, 0.5, 0.866, 80, 80) "
            fill="#c72a2a"
          />
        </svg>-->
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    draw: {
      type: Boolean,
      required: false
    },
    text: String
  },
  data() {
    return {};
  },
  watch: {
    draw() {
      if (this.draw) document.addEventListener("mousemove", this.Move);
      else document.removeEventListener("mousemove", this.Move);
    }
  },
  methods: {
    Move(e) {
      this.$refs.Target.style.left =
        e.x - this.$refs.Target.offsetWidth / 2 + "px";
      this.$refs.Target.style.top =
        e.y - this.$refs.Target.offsetHeight / 2 + "px";
    }
  }
};
</script>

<style scoped>
.obj-draggable {
  cursor: grabbing;
  position: absolute;
  z-index: 1001;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  /* border: 2px solid #c72a2a; */
  background: #fff;
  color: #333;
  text-align: center;
  line-height: 2.5;
  
  -webkit-box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.4);
}
.fade-enter-active {
  transition: transform 0.2s;
}
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter {
  transform: scale(0, 0);
}
.fade-leave-to {
  opacity: 0;
}
</style>