<template>
  <header class="header">
    <!-- <img src="logo.png" alt="logo" /> -->
    <svg>
      <path :d="header_Svg" />
    </svg>
  </header>
</template>

<script>
export default {
  mounted() {
    window.addEventListener("resize", this.handleWindowResize);
  },
  beforeDestroy: () => {
    window.removeEventListener("resize", this.handleWindowResize);
  },
  props: ["min_width"],
  data() {
    return {
      window_Width: window.innerWidth
    };
  },
  computed: {
    header_Svg() {
      return (
        "M 0,0 L " +
        this.window_Width +
        ",0 L " +
        this.window_Width +
        ",60 C " +
        this.window_Width / 2 +
        ",0 " +
        this.window_Width / 2 +
        ",90 0,60"
      );
    }
  },
  methods: {
    handleWindowResize(event) {
      let w = event.currentTarget.innerWidth;
      let mw = this.min_width? this.min_width : 150;
      this.window_Width = w < mw ? mw : w;
    }
  }
};
</script>

<style scoped>
svg {
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  fill: #333;
  width: 100%;
  height: 90px;
  stroke: none;

  -webkit-filter: drop-shadow(0px 4px 7px rgba(0, 0, 0));
  filter: drop-shadow(0px 4px 7px rgba(0, 0, 0));
}
</style>