<template>
  <transition  @after-enter="$emit('hide-list')" @after-leave="$emit('hide-list')">
    <div v-show="!IsHiden" class="list-functions">
      <div class="panelSearch">
        <input class="inputSearch" />
        <button class="btnSearth">
          <img src="@/assets/images/search_0.svg" />
        </button>
      </div>
      <VuePerfectScrollbar class="scroll-area" :style="{height: autoHeightListInner + 'px'}">
        <FuncItem
          v-for="f in funcs_group"
          :key="f.id"
          :item_f="f"
          @select="SelectedItem"
          @drag_start_item="(e) => $emit('drag_start', e)"
        />
      </VuePerfectScrollbar>
    </div>
  </transition>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import FuncItem from "@/components/ListFunctions/ListFuncItem";
export default {
  data() {
    return {
      ignore_group: ["Приватные функции"],
      autoHeightListInner: { type: Number, default: 300 }
    };
  },
  props: ["funcs", "IsHiden"],
  components: { FuncItem, VuePerfectScrollbar },
  mounted() {
    window.addEventListener("resize", this.ResizeHeightListInner);
    this.ResizeHeightListInner();
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.ResizeHeightListInner);
  },
  computed: {
    funcs_group() {
      let result = new Array();
      if (this.funcs) {
        let groupStr = new Array();

        // Создаем список групп
        this.funcs.forEach(element => {
          if (
            groupStr.every(value => {
              return value !== element.value.Group;
            })
          ) {
            groupStr.push(element.value.Group);
          }
        });
        // Создаем массив групп с именами функций в funcs
        groupStr.forEach(element => {
          // игнорируем группы из списка ignore_group
          if (
            !this.ignore_group.some(
              value => value.toLowerCase() == element.toLowerCase()
            )
          ) {
            let i = this.funcs.filter(f => f.value.Group == element);
            result.push({
              group: element,
              funcs: i
            });
          }
        });
      }
      return result;
    }
  },
  methods: {
    SelectedItem(obj) {
      this.funcs.forEach(element => {
        element.selected = false;
      });
      obj.selected = true;
    },
    ResizeHeightListInner() {
      this.autoHeightListInner = document.documentElement.clientHeight - 160;
    }
  }
};
</script>

<style scoped>
.scroll-area {
  position: relative;
  margin: auto;
}
.panelSearch {
  display: flex;
  height: 36px;
  margin-bottom: 20px;
}
/* Ввод в поисковой панели */
.inputSearch {
  width: 250px;
  background: #c2c2c2;
  border: #acacac solid 1px;
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.5);

  outline-style: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
/* Кнопка поиска */
.btnSearth {
  outline: none;
  z-index: 1;
  width: 36px;
  height: 36px;
  margin: 0px -20px 0 20px;
  background: linear-gradient(160deg, #db5454, #e62a1d);
  border: none;
  border-radius: 18px;
  text-align: center;
  padding: 0;

  -webkit-box-shadow: 0px 0px 0px 18px rgb(248, 248, 248);
  -moz-box-shadow: 0px 0px 0px 18px rgb(248, 248, 248);
  box-shadow: 0px 0px 0px 18px rgb(248, 248, 248);
}
.btnSearth:hover {
  background: linear-gradient(160deg, #91170f, #dd1b0d);
}
/* Лист */
.list-functions {
  width: 300px;
  background: linear-gradient(0deg, #cacaca, #fff);
  padding: 90px 20px 30px 20px;
}
</style>