<template>
  <li class="li-main">
    <span>{{item_f.group}}</span>
    <ul class="list-style">
      <li class="li-button" v-for="func in item_f.funcs" :key="func.id">
        <button
          :class="{ 'select-button': func.selected}"
          @click="$emit('select', func)"
          @mousedown="MouseDown(func)"
          @mousemove="MouseMove(func)"
          @mouseup="MouseUP(func)"
        >
          <span>{{func.value.NameLocal}}</span>
          <div v-show="func.selected" class="desc">
            <hr />
            <p>{{func.value.Description}}</p>
          </div>
        </button>
      </li>
    </ul>
  </li>
</template>

<script>
export default {
  props: {
    item_f: {}
  },
  data() {
    return {
      getObjMouse: ""
    };
  },
  mounted() {},
  methods: {
    GetFuncWithName(nameFunc) {
      for (let index = 0; index < this.item_f.funcs.length; index++)
        if (this.item_f.funcs[index].value.NameLocal == nameFunc)
          return this.item_f.funcs[index];
      return null;
    },
    MouseDown(e) {
      this.getObjMouse = e.value.NameLocal;
    },
    MouseMove(e) {
      if (this.getObjMouse == e.value.NameLocal) {
        this.$emit("drag_start_item", e);
        this.getObjMouse = "";
      }
    },
    MouseUP() {
      this.getObjMouse = "";
    }
  }
};
</script>

<style scoped>
/* ------------------------- */
.ps__thumb-y {
  background-color: #dd1b0d;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #e90e0e;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff8800;
}
.scrollbar-primary::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ce16df;
  border-radius: 10px;
}
/* ------------------------- */
/* Список */
.list-style {
  padding: 0;
  list-style: none;
  margin: 10px 0;
}
.li-main {
  width: 250px;
  color: red;
}
/* Кнопки */
.li-button {
  margin-left: 20px;
}
button {
  cursor: grab;
  outline: none;
  background: #fff;
  width: 250px;
  margin: 3px 0;
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 5px;

  transition: 0.3s;
}
button:hover {
  background: #bbb;
  border: 2px solid #bbb;
}
hr {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
desc {
  height: 100px;
  background: rgb(79, 95, 5);
}
button span {
  color: #666;
  font-size: 9pt;
  font-weight: bold;
}
p {
  font-size: 9pt;
  white-space: pre-line;
}
/* Нажатые кнопки */
.select-button {
  background: linear-gradient(160deg, #db5454, #c72a2a);
}
.select-button span {
  color: #fff;
}
.select-button p {
  color: #fff;
}
.select-button:hover {
  background: linear-gradient(160deg, #db5454, #c72a2a);
  border: 2px solid #bbb;
}
</style>