<template>
  <div id="app">
    <DragViewer :draw="Drag.onDrag" :text="Drag.func? Drag.func.value.NameLocal : 'null'" />
    <Header :min_width="min_width" />
    <div class="main">
      <ListFunc
        ref="List"
        :funcs="jsonFunc"
        :IsHiden="isHideList"
        @drag_start="DragStartListItem"
        @hide-list="$refs.Desk.UpdateRect()"
      />
      <div class="desktop" ref="Desk_M">
        <button class="hide-button" @click="ButtonHide">
          <p>{{isHideList? 'VIEW': 'HIDE'}}</p>
        </button>
        <Desktop ref="Desk" :border_view="Drag.onDrag" :typeList="jsonType" />
      </div>
    </div>
  </div>
</template>

<script>
import Draggabilly from "draggabilly";
import DragViewer from "@/components/DragViewer";
import Header from "@/components/Header";
import JsonFunc from "@/assets/data/Functions.ru";
import JsonType from "@/assets/data/ArgumentTypes.ru";
import ListFunc from "@/components/ListFunctions/ListFunctions";
import Desktop from "@/components/Desktop/Desktop";

export default {
  name: "app",
  data() {
    return {
      isHideList: false,
      jsonFunc: [],
      jsonType: [],
      min_width: 900,
      Drag: {
        func: null,
        onDrag: false,
        x: Number,
        y: Number
      }
    };
  },
  components: {
    Header,
    ListFunc,
    Desktop,
    DragViewer
  },
  mounted() {
    this.jsonFunc = this.InitJson();
    this.jsonType = JsonType;
    this.DragButtonHide();
    window.addEventListener("resize", this.ResizeDekstopWidth);
    window.addEventListener("mouseup", this.DragStopListItem);
    this.ResizeDekstopWidth();
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.ResizeDekstopWidth);
    window.removeEventListener("mouseup", this.DragStopListItem);
  },
  methods: {
    // Инициализация списка функций
    InitJson() {
      let result = new Array();
      // конструкции
      let constructorIf = {
        selected: false,
        value: {
          NameClass: "IF",
          NameLocal: "Ветвление (IF)",
          Group: "Конструкции",
          Interchangeable: [],
          RequiredProperties: [true],
          Description:
            "Дает возможность создать две ветки команд. В зависимости от условия будет выполнена только одна ветка.",
          TypeFunc: "OPERATION",
          DescriptionProperties: ["Условие"],
          TypeProperties: ["Boolean"],
          DescriptionResults: [],
          TypeResults: []
        }
      };
      result.push(constructorIf);
      //-------
      // Хранение
      let consts = {
        selected: false,
        value: {
          NameClass: "Constants",
          NameLocal: "Константы",
          Group: "Хранение",
          Description:
            "Позволяет задавать пользовательские константы, и передавать их в качестве аргумента",
          TypeFunc: "OPERATION",
          DescriptionProperties: [],
          TypeProperties: [],
          DescriptionResults: [],
          TypeResults: []
        }
      };
      result.push(consts);
      //-------

      for (let index = 0; index < JsonFunc.length; index++) {
        result.push({
          selected: false,
          value: JsonFunc[index]
        });
      }
      return result;
    },

    ResizeDekstopWidth() {
      let list_H = this.isHideList ? 0 : 342;
      this.$refs.Desk.$el.style.width = window.innerWidth - list_H - 50 + "px";
    },
    // сокрытие листа функций
    ButtonHide() {
      this.isHideList = !this.isHideList;
      this.ResizeDekstopWidth();
    },
    DragButtonHide() {
      var draggableElems = document.querySelectorAll(".hide-button");
      new Draggabilly(draggableElems[0], {
        axis: "y",
        containment: ".desktop"
      });
    },
    DragStartListItem(e) {
      this.Drag.func = e;
      this.Drag.onDrag = true;
    },
    DragStopListItem(e) {
      if (this.Drag.onDrag) {
        this.Drag.onDrag = false;
        let y1 = this.$refs.Desk_M.offsetTop;
        let x1 = this.$refs.Desk_M.offsetLeft;
        let y2 = this.$refs.Desk_M.clientHeight + y1;
        let x2 = this.$refs.Desk_M.clientWidth + x1;
        if (e.x > x1 && e.x < x2 && e.y > y1 && e.y < y2) {
          this.Drag.x = e.x;
          this.Drag.y = e.y;
          this.$refs.Desk.CreateBlock(this.Drag);
        }
      }
    }
  }
};
</script>

<style>
* {
  font-family: "Montserrat Alternates", sans-serif;
  color: #444;
}
body {
  background: rgb(68, 68, 68);
  margin: 0;
  font-size: 16px;
  /* overflow: hidden; */
}
/* Прокрутка */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #c2c2c210;
  border: #acacac10 solid 1px;
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(100deg, #333, #222);
  border: #5c2222 solid 1px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(160deg, #222, #222);
}
::-webkit-scrollbar-corner {
  background: none;
}
/* Основа */
.main {
  scrollbar-width: thin;
  scrollbar-color: #333 rgba(0, 0, 0, 0.2);
  display: flex;
  min-height: 465px;
  min-width: 965px;
  height: 100vh;
  width: 100vw;
}
.desktop {
  display: flex;
  background: linear-gradient(150deg, #c72a2a, #491515);
  padding: 90px 20px 30px 0px;
}
/* Кнопка */
.hide-button {
  position: relative;
  padding-top: 18px;
  margin: 0;
  outline: none;
  top: 55px;
  width: 30px;
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.hide-button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.hide-button p {
  color: rgba(255, 255, 255, 0.3);
  transform: rotate(270deg);
}
</style>

<style lang="scss">
/* Подсказки*/
.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: #333;
    color: #ccc;
    font-size: 14px;
    border-radius: 16px;
    padding: 5px 10px 4px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.377);
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #333;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}
</style>