<template>
  <div class="info-command">
    <button
      class="btn-hide-info"
      @click="showInfo = !showInfo"
      v-tooltip="'Скрыть/Показать информацию о команде'"
    ></button>
    <transition @enter="AnimEnter" @leave="AnimLeave" :css="false">
      <div class="info-command-hide" v-show="showInfo">
        <input type="text" placeholder="NameCommand" class="name-command" v-model="name_command" />
        <div class="aliases-container">
          <div
            class="aliases-plus aliases-item"
            @click="AddAlias"
            v-tooltip="'Дополнительные имена команды'"
          >+</div>
          <div v-for="(item, index) in name_command_aliases" :key="item.id" class="aliases-item">
            <input
              :value="item"
              @input="Input(index, $event.target.value)"
              @blur="FocusLost(index)"
              maxlength="50"
              type="text"
              class="aliases-input"
            />
            <div class="aliases-minus" @click="DelAlias(index)">x</div>
          </div>
        </div>
        <textarea
          type="text"
          class="description-command"
          placeholder="Описание вашей команды"
          v-model="description_command"
        />
        <div
          :class="[help_hidden ? 'help-vision-off': 'help-vision']"
          v-tooltip="'Показывать команду в help списке'"
          @click="help_hidden = !help_hidden"
        ></div>
      </div>
    </transition>
  </div>
</template>

<script>
import Dynamics from "dynamics.js";
export default {
  data() {
    return {
      showInfo: true,
      name_command: "",
      name_command_aliases: [],
      description_command: "",
      help_hidden: false
    };
  },
  methods: {
    GetCommandInfo() {
      return {
        Name: this.name_command,
        Description: this.description_command,
        Aliases: this.name_command_aliases,
        IsHidden: this.help_hidden
      };
    },
    // Добавляет ссылку
    AddAlias() {
      if (
        this.name_command_aliases.length == 0 ||
        this.name_command_aliases[0].trim() != ""
      )
        this.name_command_aliases.unshift("");
      this.$nextTick(() =>
        this.$el.querySelectorAll(".aliases-input")[0].focus()
      );
    },
    // удаляет ссылку
    DelAlias(index) {
      this.name_command_aliases.splice(index, 1);
    },
    // обновляет данные в масиве при вводе
    Input(index, value) {
      this.name_command_aliases[index] = value;
    },
    // удаляет поле при потере фокуса если оно было пустым
    FocusLost(index) {
      if (this.name_command_aliases[index].trim() == "") this.DelAlias(index);
    },
    // ----- Анимация -----
    AnimEnter(el, done) {
      Dynamics.animate(
        el,
        { opacity: 1 },
        {
          type: Dynamics.easeInOut,
          duration: 300,
          friction: 500,
          complete: done
        }
      );
    },
    AnimLeave(el, done) {
      Dynamics.animate(
        el,
        { opacity: 0 },
        {
          type: Dynamics.easeInOut,
          duration: 300,
          friction: 500,
          complete: done
        }
      );
    }
  }
};
</script>

<style scoped>
/* Кнопка сокрытия инфо */
.btn-hide-info {
  cursor: pointer;
  position: absolute;
  right: -30px;
  top: 20px;
  outline: none;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 5px;
  opacity: 0.2;
  background-color: transparent;
  background-image: url(../../assets/images/info.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btn-hide-info:hover {
  opacity: 0.4;
}
/* Инфо справа */
.info-command {
  z-index: 1;
  padding: 0;
  position: absolute;
  width: 335px;
  right: 40px;
  border-radius: 10px;
}
/* Имя */
.name-command {
  margin-bottom: -5px;
  width: 100%;
  text-align: right;
  outline: none;
  background: none;
  border: none;
  font-family: "Baloo", cursive;
  font-size: 45px;
  height: 45px;
  color: #fff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
}
/* Ссылки */
.aliases-container {
  text-align: end;
}
.aliases-item {
  margin: 3px;
  height: 18px;
  font-weight: 700;
  vertical-align: middle;
  display: inline-block;
}
.aliases-input {
  border-radius: 15px;
  outline: none;
  background: none;
  color: #ddd;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 60px;
  padding: 0px 25px 1px 8px;
  transition: border-color 0.1s ease-in;
}
.aliases-input:hover {
  border-color: #fff;
}
.aliases-minus,
.aliases-plus {
  font-size: 17px;
  margin-bottom: 1px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  font-weight: 800;
  color: #8f2020;
  text-align: center;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s ease-in;
}
.aliases-minus {
  font-size: 9px;
  display: inline-block;
  vertical-align: middle;
  margin-left: -17px;
  margin-top: -42px;
  width: 13px;
  height: 13px;
  background: rgba(255, 255, 255, 0.5);
}
.aliases-minus:hover,
.aliases-plus:hover {
  background-color: #fff;
}
/* Описание */
.description-command {
  overflow-x: hidden;
  resize: none;
  margin-left: 84px;
  width: 250px;
  max-height: 110px;
  text-align: end;
  outline: none;
  background: none;
  border: none;
  font-size: 18px;
  color: #fff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
}
::placeholder {
  text-shadow: none;
  color: rgba(0, 0, 0, 0.4);
}
/* Скрывать в хэлпере */
.help-vision,
.help-vision-off {
  margin-left: auto;
  width: 35px;
  height: 35px;
  opacity: 0.2;
  background-color: transparent;
  background-image: url(../../assets/images/eye_on.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.help-vision-off {
  background-image: url(../../assets/images/eye_off.svg);
}
.help-vision:hover,
.help-vision-off:hover {
  opacity: 0.4;
}
</style>