<template>
  <div class="Glass" ref="Glass">
    <CommandInfo ref="CmdInfo" />
    <div
      class="dekstop-scroll"
      ref="dekstop_scroll"
      :class="{'border-on': border_view}"
      @mousedown="StartGrabDesk"
      @mousemove="MouseMove"
    >
      <div class="dekstop-grid" ref="dekstop_grid">
        <PathsManager ref="PM" :blocks="blocks" :Rect="Rect" />
        <BlockStart
          :post="blockStart"
          :typeList="typeList"
          :id="blockStart.id"
          @delete_arg="DeleteArg"
          @mounted="ResizeDesk"
          @stop_drag="StopDragBlock"
          @start_drag_arg="StartDragArg"
        />
        <BlockConst
          v-for="block in blocksConst"
          :post="block"
          :typeList="typeList"
          :key="block.id"
          :id="block.id"
          @delete="DeleteBlock"
          @delete_arg="DeleteArg"
          @mounted="ResizeDesk"
          @start_drag="StartDragBlock"
          @stop_drag="StopDragBlock"
          @start_drag_arg="StartDragArg"
        />
        <Block
          v-for="block in blocksWithoutStart"
          :post="block"
          :typeList="typeList"
          :key="block.id"
          :id="block.id"
          @delete="DeleteBlock"
          @mounted="ResizeDesk"
          @start_drag="StartDragBlock"
          @stop_drag="StopDragBlock"
          @start_drag_arg="StartDragArg"
        />
      </div>
    </div>
    <DevelopTool @button_json="Build" />
  </div>
</template>

<script>
import BuildChecker from "@/assets/js/BuildChecker.js";
import DevelopTool from "@/components/Desktop/DevelopTool";
import CommandInfo from "@/components/Desktop/CommandInfo";
import Block from "@/components/Desktop/Blocks/Block";
import BlockStart from "@/components/Desktop/Blocks/BlockStart";
import BlockConst from "@/components/Desktop/Blocks/BlockConst";
import PathsManager from "@/components/Desktop/Paths/PathsManager";
export default {
  components: {
    DevelopTool,
    CommandInfo,
    Block,
    BlockStart,
    BlockConst,
    PathsManager
  },
  props: {
    typeList: Array,
    border_view: Boolean
  },
  data() {
    return {
      Rect: {
        left: 0,
        top: 0
      },
      Grab: {
        Block: {},
        onGrabDesk: false,
        onGrabBlock: false,
        onGrabArg: false,
        xOld: 0,
        yOld: 0
      },
      blockStyle: {
        width: 250,
        height: 100
      },
      blocks: []
    };
  },
  computed: {
    blockStart() {
      if (this.blocks.length > 0) return this.blocks[0];
      return null;
    },
    blocksWithoutStart() {
      if (this.blocks.length > 1)
        return this.blocks.filter(
          (value, index) => index > 0 && value.func.value.Group != "Хранение"
        );
      else return [];
    },
    blocksConst() {
      if (this.blocks.length > 1)
        return this.blocks.filter(
          (value, index) => index > 0 && value.func.value.Group == "Хранение"
        );
      else return [];
    }
  },
  created() {
    // создание данных для стартового блока
    let funcStart = {
      selected: false,
      value: {
        NameClass: "Start",
        NameLocal: "Начало команды",
        Group: "Хранение",
        Description: "Определяет начало команды и входные аргументы",
        TypeFunc: "OPERATION",
        DescriptionProperties: [],
        TypeProperties: [],
        DescriptionResults: [],
        TypeResults: []
      }
    };
    let block = {
      x: 15,
      y: 15,
      id: performance.now(),
      func: funcStart,
      consts: [],
      Xmax: Number,
      Ymax: Number,
      inArgs: [],
      outArgs: [],
      inLogic: { x: -1, y: -1, id: 0, contact: false, status: "" },
      outLogic: [{ x: -1, y: -1, id: 0, contact: false, status: "" }]
    };
    this.blocks.push(block);
  },
  mounted() {
    window.addEventListener("mouseup", this.MouseUp);
    // обновление отступов
    this.UpdateRect();
  },
  beforeDestroy() {
    window.removeEventListener("mouseup", this.MouseUp);
  },
  methods: {
    // СБОРКА
    Build(complete) {
      let buildChecker = new BuildChecker(this.blocks);
      // Билдинг Инфо
      let info = this.$refs.CmdInfo.GetCommandInfo();
      buildChecker.AddManualCheck(
        "Инфо в порядке",
        "Отсутствует имя команды",
        () => info.Name.trim() != ""
      );
      // Билдинг Аргументов
      buildChecker.CheckArguments();
      let argumentsArrayInfo = this.blockStart.outArgs.filter(a => a.contact);
      let Arguments = [];
      this.blockStart.consts.forEach(element => {
        Arguments.push({
          Name: element.Name,
          Description: element.Description,
          Type: element.Type,
          IsOptional: element.IsOptional,
          IsCatchAll: element.IsCatchAll,
          DefaultValue: element.DefaultValue
        });
      });
      Arguments = Arguments.filter(
        (value, index) => this.blockStart.outArgs[index].contact
      );
      // Билдинг Констант
      let Constants = [];
      let constArrayInfo = [];
      for (let i = 0; i < this.blocksConst.length; i++) {
        constArrayInfo = constArrayInfo.concat(this.blocksConst[i].outArgs);
        Constants = Constants.concat(this.blocksConst[i].consts);
      }
      constArrayInfo = constArrayInfo.filter(c => c.contact);
      Constants = Constants.filter(c => c.contact).map(currentValue => {
        return {
          Name: currentValue.Name,
          Value: currentValue.DefaultValue,
          TypeValue: currentValue.Type
        };
      });
      buildChecker.AddManualCheck(
        "Константы в порядке",
        "Ошибка в обьявлении констант команды",
        () => Constants.length == 0 || Constants.every(c => c.Valid)
      );
      // Билдинг блоков
      let blocksArrayinfo = [{ id: 0, address: "0" }];
      let Blocks = {
        BlockTypeF: null,
        IfCount: 0,
        FunctionName: null,
        InternalBlocks: null,
        ArgsAddresses: null
      };
      buildChecker.AddManualCheck(
        "Блоки присутствуют",
        "Нет блоков для сборки команды",
        () => this.blocksWithoutStart.length > 0
      );
      if (this.blocksWithoutStart.length == 1) {
        // если блок один
        let blk = this.blocksWithoutStart[0];
        buildChecker.IsStartPath();
        let ifCheck = buildChecker.AddManualCheck(
          "Единственный блок не IF",
          "Сам по себе блок условия не выполняет никаких действий. Нужно добавить и присоединить блоки задач к блоку ветвления, выполнение которых будет зависеть от условия",
          () => !this.IsIfBlock(blk)
        );
        // если единственный блок не блок ветвления
        if (ifCheck) {
          Blocks.BlockTypeF = "OPERATION";
          Blocks.FunctionName = blk.func.value.NameClass;
          // проверяем входные аргументы
          buildChecker.CheckBlockRequiredArgs(blk);

          Blocks.ArgsAddresses = [];
          for (let i = 0; i < blk.inArgs.length; i++) {
            let adrs = null;
            if (blk.inArgs[i].contact) {
              let outArg = this.$refs.PM.GetOutArgFromInArg(blk.inArgs[i]);
              adrs = this.GetAddress(
                outArg,
                argumentsArrayInfo,
                constArrayInfo,
                blocksArrayinfo
              );
            }
            Blocks.ArgsAddresses.push(adrs);
          }
        }
      } else {
        buildChecker.IsStartPath();
        //console.log('not implemented');
      }

      // чистка констант
      if (Constants.length == 0) Constants = null;
      // чистка аргументов
      if (Arguments.length == 0) Arguments = null;

      let json = {
        Version: "1.0",
        Name: info.Name,
        Description: info.Description,
        Aliases: info.Aliases,
        IsHidden: info.IsHidden,
        Arguments,
        Constants,
        Blocks
      };
      complete(buildChecker, json);
    },

    // if блок?
    IsIfBlock(block) {
      return block.func.value.NameClass == "IF";
    },
    // создать адрес из выходного аргумента
    GetAddress(outArg, argumentsArrayInfo, constArrayInfo, blocksArrayinfo) {
      let block = this.blocks.find(b => b.id == outArg.id.split("_")[2]);
      if (block.func.value.NameClass == "Start") {
        return `0 ${argumentsArrayInfo.findIndex(a => a.id == outArg.id)}`;
      } else if (block.func.value.NameClass == "Constants") {
        return `1 ${constArrayInfo.findIndex(a => a.id == outArg.id)}`;
      } else {
        return `2 ${blocksArrayinfo.find(b => b.id == block.id).address} ${
          outArg.id.split("_")[1]
        }`;
      }
    },

    // -----------------------------------------------------
    // Создание блока
    CreateBlock(e, consts = []) {
      // --X--
      let x =
        e.x -
        6 -
        this.$refs.Glass.offsetLeft +
        this.$refs.dekstop_scroll.scrollLeft -
        this.blockStyle.width / 2;
      // --Y--
      let y =
        e.y -
        6 -
        this.$refs.Glass.offsetTop +
        this.$refs.dekstop_scroll.scrollTop -
        this.blockStyle.height / 2;
      // --ID--
      let id = performance.now();
      // --Func--
      let func = e.func;
      // --Args--
      let inArgs = [];
      let outArgs = [];
      for (let index = 0; index < func.value.TypeProperties.length; index++)
        inArgs.push({ x: -1, y: -1, id: 0, contact: false, status: ""  });
      for (let index = 0; index < func.value.TypeResults.length; index++)
        outArgs.push({ x: -1, y: -1, id: 0, contact: false, status: ""  });
      // Входящие и исходящие указатели перехода логики
      let inLogic = { x: -1, y: -1, id: 0, contat: false };
      let outLogic = [];
      if (func.value.Group == "Конструкции") {
        outLogic = [
          { x: -1, y: -1, id: 0, contact: false, status: ""  },
          { x: -1, y: -1, id: 0, contact: false, status: "" }
        ];
      } else {
        outLogic = [{ x: -1, y: -1, id: 0, contact: false, status: "" }];
      }
      // Модель для любого блока
      let block = {
        x,
        y,
        id,
        func,
        consts,
        Xmax: Number,
        Ymax: Number,
        inArgs,
        outArgs,
        inLogic,
        outLogic
      };
      // Добавляем блок на рабочий стол
      this.blocks.push(block);
    },

    // Удаление блока
    DeleteBlock(block) {
      this.$refs.PM.DeletePaths(block.id);
      this.blocks = this.blocks.filter(i => i.id !== block.id);
      // Проверяем размер стола
      this.ResizeDesk();
    },
    // Сообщает мененджеру путей об удалении отдельного аргумента из блока
    // Используется в специальных блоках BlockConst и BlockStart
    DeleteArg(arg) {
      this.$refs.PM.DeletePathArg(arg);
      this.ResizeDesk();
    },
    // перетаскивание Блоков
    StartDragBlock(e) {
      this.Grab.onGrabBlock = true;
      this.Grab.Block = e;
    },

    StopDragBlock() {
      this.Grab.onGrabBlock = false;
      this.ResizeDesk();
    },

    // Переопределение размера стола
    ResizeDesk() {
      // Находим максимально удаленные координаты
      let Xmax = 0;
      let Ymax = 0;
      for (let i = 0; i < this.blocks.length; i++) {
        if (this.blocks[i].Xmax > Xmax) Xmax = this.blocks[i].Xmax;
        if (this.blocks[i].Ymax > Ymax) Ymax = this.blocks[i].Ymax;
      }
      // Выставляем размер
      this.$refs.dekstop_grid.style.width = Xmax + 200 + "px";
      this.$refs.dekstop_grid.style.height = Ymax + 200 + "px";
      // обновление отступов
      this.UpdateRect();
    },

    // обновление отступов
    UpdateRect() {
      this.Rect.left =
        this.$refs.Glass.offsetLeft + 6 - this.$refs.dekstop_scroll.scrollLeft;
      this.Rect.top =
        this.$refs.Glass.offsetTop + 6 - this.$refs.dekstop_scroll.scrollTop;
    },

    // Перетаскивание Аргумента
    StartDragArg(arg) {
      this.Grab.onGrabArg = true;
      this.$refs.PM.StartDrag(arg);
    },

    // перетаскивание стола
    StartGrabDesk(arg) {
      this.Grab.onGrabDesk = true;
      this.Grab.xOld = arg.x;
      this.Grab.yOld = arg.y;
    },

    // обработка движения для стола и блоков
    MouseMove(e) {
      // Извлечение точки смещения
      let xOff = this.Grab.xOld - e.x;
      let yOff = this.Grab.yOld - e.y;
      // Блок
      if (!this.Grab.onGrabArg && this.Grab.onGrabBlock) {
        this.Grab.Block.x -= xOff;
        this.Grab.Block.y -= yOff;
      } else if (!this.Grab.onGrabArg && this.Grab.onGrabDesk) {
        // Доска
        let x = this.$refs.dekstop_scroll.scrollLeft + xOff;
        let y = this.$refs.dekstop_scroll.scrollTop + yOff;
        this.$refs.dekstop_scroll.scroll(x, y);
      }
      // Запись точки смещения
      this.Grab.xOld = e.x;
      this.Grab.yOld = e.y;
    },
    MouseUp() {
      this.Grab.onGrabDesk = false;
      this.Grab.onGrabArg = false;
    }
  }
};
</script>

<style scoped>
/* Главный контейнер */
.Glass {
  position: relative;
  width: 100%;
  height: 100%;
}
/* Контейнер для прокурутки стола */
.dekstop-scroll {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 4px;
  border: 2px solid rgba(0, 0, 0, 0);
  overflow-x: auto;
  overflow-y: auto;
  transition: border 0.2s;
}
/* Поле для блоков */
.dekstop-grid {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Подсветка области при перетаскивании */
.border-on {
  border: 2px solid rgba(255, 255, 255, 0.03);
  box-shadow: inset 3px 3px 5px 2px rgba(0, 0, 0, 0.2),
    inset -3px -3px 3px 0px rgba(255, 255, 255, 0.05);
}
</style>