<template>
  <div class="tool-container" v-if="visible_p">
    <div id="devToolBtnPanel" class="button-panel">
      <button @click="$emit('button_1')">1</button>
      <button @click="$emit('button_2')">2</button>
      <button @click="$emit('button_3')">3</button>
      <button @click="$emit('button_a')">A</button>
      <button @click="$emit('button_b')">B</button>
      <button @click="$emit('button_c')">C</button>
      <button>imp</button>
      <button>exp</button>
      <button @click.stop="BuildJson">Json</button>
    </div>
    <div id="devToolBackPanel" class="back-panel"></div>
    <div id="devToolFrontPanel" @click="Open" class="front-panel">
      <div class="front-sub-panel-A">
        <div class="bolt" />
        <div class="bolt" />
      </div>
      <div class="name-tool">DevLS 1.0</div>
      <div class="front-sub-panel-B">
        <div class="indicate" />
        <div class="indicate" />
        <div class="indicate" />
        <div class="indicate" />
        <div class="indicate" />
      </div>
      <div class="front-sub-panel-C">
        <div class="bolt" />
        <div class="bolt" />
      </div>
    </div>
  </div>
</template>

<script>
import Dynamics from "dynamics.js";
export default {
  data() {
    return {
      visible_p: false,
      open_p: false,
      elsInd: [], // массив с индикаторами
      colorBolt: ["#4a1414", "#23c9f2", "#7ccc00", "#ff0000"], // кр.пнл|голубой|зеленый|красный
      flashStateColor: true,
      onFlash: false
    };
  },
  mounted() {
    document.addEventListener("keyup", this.KeyUp);
  },
  beforeDestroy() {
    document.removeEventListener("keyup", this.KeyUp);
  },
  deactivated() {
    this.elsInd.length = 0;
  },
  methods: {
    BuildJson(e) {
      let btn = e.currentTarget;
      btn.disabled = true;
      this.Flash();
      this.$emit("button_json", (bldChecker, json) => {
        /* eslint-disable no-console */
        console.log(JSON.stringify(json, null, '\t'));
        console.log(bldChecker.allResult);
        /* eslint-enable no-console */
        this.Flash();
        this.FlashOk(bldChecker.isDone);
        btn.disabled = false;
      });
    },
    // ---------------------------------------------------------------
    // доступ к индикаторам
    elsIndicated() {
      if (this.elsInd == null || this.elsInd.length < 1)
        this.elsInd = this.$el.getElementsByClassName("indicate");
      return this.elsInd;
    },
    // Открытие меню
    KeyUp(e) {
      if (e.code == "KeyT" && e.shiftKey) {
        this.visible_p = !this.visible_p;
        if (!this.visible_p) this.elsInd = null;
      }
    },
    // Открытие/закрытие панели
    Open() {
      this.open_p = !this.open_p;
      if (this.open_p) {
        this.OpenBtn();
        this.OpenFront();
      } else {
        setTimeout(this.OpenFront, 400);
        this.OpenBtn();
      }
    },
    // не юзать в ручную.
    OpenBtn() {
      let elBtn = document.querySelector("#devToolBtnPanel");
      let btn_trns = this.open_p ? -122 : 0;
      let alfa = this.open_p ? 1 : 0;

      // панель кнопок
      if (this.open_p) {
        Dynamics.animate(
          elBtn,
          { opacity: alfa },
          {
            type: Dynamics.easeInOut,
            duration: 300,
            friction: 500,
            complete: () => {
              Dynamics.animate(
                elBtn,
                { translateX: btn_trns },
                {
                  type: Dynamics.gravity,
                  duration: 600,
                  bounciness: 700
                }
              );
            }
          }
        );
      } else {
        Dynamics.animate(
          elBtn,
          { translateX: btn_trns },
          {
            type: Dynamics.easeInOut,
            duration: 300,
            friction: 500,
            complete: () => {
              Dynamics.animate(
                elBtn,
                { opacity: alfa },
                {
                  type: Dynamics.easeInOut,
                  duration: 300,
                  friction: 500
                }
              );
            }
          }
        );
      }
    },
    // не юзать в ручную.
    OpenFront() {
      let elF = document.querySelector("#devToolFrontPanel");
      let elB = document.querySelector("#devToolBackPanel");

      let to = this.open_p
        ? { scale: 1.12, "background-color": "#5a1919" }
        : { scale: 1, "background-color": "#531717" };
      let alfa = this.open_p ? 1 : 0;
      let clrBolt = this.open_p ? this.colorBolt[1] : this.colorBolt[0];
      // индикация при открытии последовательно / закрытии паралельно
      let c1 = this.open_p ? 40 : 1;

      // фронт панель
      Dynamics.animate(elF, to, {
        type: Dynamics.easeInOut,
        duration: 300,
        friction: 500
      });
      // тень фронт панели
      Dynamics.animate(
        elB,
        { opacity: alfa },
        {
          type: Dynamics.easeInOut,
          duration: 300,
          friction: 500
        }
      );
      // индикаторы
      for (let index = 0; index < this.elsIndicated().length; index++) {
        Dynamics.animate(
          this.elsIndicated()[index],
          { "background-color": clrBolt },
          {
            type: Dynamics.spring,
            duration: 300,
            frequency: 130,
            friction: 114,
            delay: 200 + index * c1
          }
        );
      }
    },
    // Мигающая индикация
    Flash() {
      if (!this.onFlash) {
        this.onFlash = !this.onFlash;
        for (let index = 0; index < this.elsIndicated().length; index++) {
          Dynamics.animate(
            this.elsIndicated()[index],
            { "background-color": this.colorBolt[0] },
            {
              type: Dynamics.easeInOut,
              duration: 300,
              friction: 500
            }
          );
        }
        Dynamics.setTimeout(() => this.FlashIndicate(), 300);
      } else {
        this.onFlash = !this.onFlash;
      }
    },
    // не юзать в ручную. Использовать Flash()
    FlashIndicate() {
      if (this.onFlash) {
        let clr = this.flashStateColor ? this.colorBolt[0] : this.colorBolt[1];
        for (let index = 0; index < this.elsIndicated().length; index++) {
          Dynamics.animate(
            this.elsIndicated()[index],
            { "background-color": clr },
            {
              type: Dynamics.easeIn,
              duration: 200,
              friction: 500,
              delay: index * 100
            }
          );
        }
        this.flashStateColor = !this.flashStateColor;
        Dynamics.setTimeout(() => this.FlashIndicate(), 500);
      } else {
        for (let index = 0; index < this.elsIndicated().length; index++) {
          Dynamics.animate(
            this.elsIndicated()[index],
            { "background-color": this.colorBolt[0] },
            {
              type: Dynamics.easeInOut,
              duration: 300,
              friction: 500
            }
          );
        }
      }
    },
    // Индикация успеха
    FlashOk(green) {
      let color = green ? this.colorBolt[2] : this.colorBolt[3];
      if (this.onFlash) this.onFlash = false;
      setTimeout(() => {
        for (let index = 0; index < this.elsIndicated().length; index++) {
          Dynamics.animate(
            this.elsIndicated()[index],
            { "background-color": color },
            {
              type: Dynamics.easeInOut,
              duration: 300,
              friction: 500,
              delay: 100
            }
          );
        }
      }, 500);
    }
  }
};
</script>

<style scoped>
.tool-container {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 120px;
  height: 100px;
  animation: visit 0.2s ease-in-out;
}
@keyframes visit {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.front-panel {
  width: 120px;
  height: 100px;
  position: absolute;
  border-radius: 10px;
  border: 2px outset rgba(141, 56, 56, 0.5);
  background-color: #531717;
}
.front-sub-panel-A {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.name-tool {
  pointer-events: none;
  margin-left: 30px;
  margin-bottom: 5px;
  color: #8d3838;
  font-size: 12px;
  font-weight: 700;
}
.front-sub-panel-B {
  display: flex;
  justify-content: center;
  width: 100%;
}
.front-sub-panel-C {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.bolt {
  margin: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #5e1b1b;
  box-shadow: 1px 1px 3px 2px #0000003f, -1px -1px 0px 1px #b450507f;
}
.indicate::before {
  content: "";
  position: absolute;
  border-radius: 30%;
  width: 16px;
  height: 16px;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 1px,
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.2) 2px
  );
  background-size: 2px 2px;
}
.indicate {
  width: 15px;
  height: 15px;
  border-radius: 30%;
  border: 2px inset #8d3838;
  background-color: #4a1414;
}
.back-panel {
  position: absolute;
  border-radius: 10px;
  left: 3px;
  top: 3px;
  width: 120px;
  height: 100px;
  background-color: #fff;
  box-shadow: 10px 18px 30px 8px rgba(0, 0, 0, 0.5),
    -10px 0px 10px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
}
.button-panel {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px 0 0 10px;
  border: 2px outset #08c7f785;
  box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.5);
  left: 0px;
  top: 4px;
  width: 102px;
  height: 78px;
  padding: 6px 8px 6px 6px;
  background-color: #333;
  opacity: 0;
  pointer-events: stop;
}
button {
  padding: 0;
  font-size: 10px;
  color: #888;
  background: #333;
  border-color: #555;
  outline-color: #08c7f785;
  border-radius: 4px;
  margin: 2px;
  width: 30px;
  height: 22px;
  transition: color 0.3s;
}
button:active {
  background: #222;
}
button:hover {
  color: #23c9f2;
}
button:disabled {
  background: #222;
  border-style: inset;
}
</style>