<template>
  <div ref="path_desk" class="path-desk">
    <!-- перетаскивание -->
    <PathA
      v-show="dragA.onDrag"
      :startDownDirect="dragA.startDownDirect"
      :Ax="dragA.startPoint.x"
      :Ay="dragA.startPoint.y"
      :Bx="dragA.x2"
      :By="dragA.y2"
    />
    <PathL
      v-if="dragL.onDrag"
      :Ax="dragL.startPoint.x"
      :Ay="dragL.startPoint.y"
      :Bx="dragL.x2"
      :By="dragL.y2"
    />
    <!-- постоянка -->
    <PathA
      v-for="pathA in pathsA"
      :key="pathA.id"
      :startDownDirect="pathA.startDownDirect"
      :level="pathA.level"
      :Ax="pathA.startPoint.x"
      :Ay="pathA.startPoint.y"
      :Bx="pathA.endPoint.x"
      :By="pathA.endPoint.y"
    />
    <PathL
      v-for="pathL in pathsL"
      :key="pathL.id"
      :Ax="pathL.startPoint.x"
      :Ay="pathL.startPoint.y"
      :Bx="pathL.endPoint.x"
      :By="pathL.endPoint.y"
      @delete_path="DeletePathL(pathL)"
    />
  </div>
</template>

<script>
import PathA from "./PathA";
import PathL from "./PathL";
export default {
  components: {
    PathA,
    PathL
  },
  props: {
    Rect: {
      type: Object
    },
    blocks: {
      type: Array
    }
  },
  data() {
    return {
      pathsA: [],
      pathsL: [],
      dragA: {
        startDownDirect: false,
        startPoint: { id: "", x: 0, y: 0, contact: false, status: "" },
        onDrag: false,
        x2: 0,
        y2: 0
      },
      dragL: {
        startPoint: { id: "", x: 0, y: 0, contact: false, status: "" },
        onDrag: false,
        x2: 0,
        y2: 0
      }
    };
  },
  methods: {
    // начало перетаскивания аргумента или стреки
    StartDrag(point) {
      if (point !== null) {
        if (point.id.startsWith("in_")) {
          let finded = this.pathsA.find(p => p.endPoint.id == point.id);

          if (finded) {
            finded.startPoint.contact = false;
            finded.endPoint.contact = false;
            this.ViewCorrectInArgs(finded.startPoint);

            this.pathsA = this.pathsA.filter(p => p != finded);
            this.dragA.startDownDirect = this.IsBlockStartFromIdArg(
              finded.startPoint.id
            );
            this.dragA.startPoint = finded.startPoint;
            this.dragA.x2 = finded.endPoint.x;
            this.dragA.y2 = finded.endPoint.y;
            this.dragA.onDrag = true;
          }
        } else if (point.id.startsWith("out_")) {
          this.ViewCorrectInArgs(point);
          this.dragA.startDownDirect = this.IsBlockStartFromIdArg(point.id);
          this.dragA.startPoint = point;
          this.dragA.x2 = point.x;
          this.dragA.y2 = point.y;
          this.dragA.onDrag = true;
        } else if (point.id.startsWith("outL_")) {
          this.dragL.startPoint = point;
          this.dragL.x2 = point.x;
          this.dragL.y2 = point.y;
          this.dragL.onDrag = true;
        }
      }
    },

    MouseMove(e) {
      if (this.dragA.onDrag) {
        this.dragA.x2 = e.x - this.Rect.left;
        this.dragA.y2 = e.y - this.Rect.top;
      } else if (this.dragL.onDrag) {
        this.dragL.x2 = e.x - this.Rect.left;
        this.dragL.y2 = e.y - this.Rect.top;
      }
    },

    MouseUp(e) {
      this.HideCorrectInArgs();
      let path = e.path || (e.composedPath && e.composedPath());
      let results = [];
      let can = true;
      // для стрелок аргументов
      if (this.dragA.onDrag && path[0]._prevClass == "target-arg") {
        let point = this.GetPointFromID(path[0].id);

        // модель пути
        let newPath = {
          startPoint: this.dragA.startPoint,
          endPoint: point,
          level: this.GetLevel(this.dragA.startPoint, point),
          startDownDirect: this.IsBlockStartFromIdArg(this.dragA.startPoint.id)
        };
        // проверка правил
        results.push(this.IsNotSelfLocking(newPath));
        results.push(this.IsNotDublicateSetPath(newPath));
        results.push(this.IsNotOutInOutPathA(newPath));
        can = results.every(r => r.result == true);

        if (can) {
          this.pathsA.push(newPath);
        }
        newPath.startPoint.contact = can;
        newPath.endPoint.contact = can;
      }
      // для стрелок логики
      else if (this.dragL.onDrag && path.some(p => p._prevClass == "block")) {
        let block = path.find(p => p._prevClass == "block");
        let blockID = block.id;
        // ПРЕ-проверка
        // проверка блока на тип Хранилище
        results.push(this.IsNotSetInStoragePathL(blockID));
        can = results[0].result;

        if (can) {
          let point = this.blocks.find(b => b.id == blockID).inLogic;
          // модель пути
          let newPath = {
            startPoint: this.dragL.startPoint,
            endPoint: point
          };
          // ПОСТ-проверка
          results.push(this.IsNotSelfLocking(newPath));
          results.push(this.IsNotDublicateSetPath(newPath));
          results.push(this.IsNotSetOutPathL(newPath));
          results.push(this.IsNotSetDoublicatePathL(newPath));
          can = results.every(r => r.result == true);
          //console.log(results);
          //console.log(can);
          if (can) {
            this.pathsL.push(newPath);
          }
          newPath.startPoint.contact = can;
          newPath.endPoint.contact = can;
        }
      }
      this.dragL.onDrag = false;
      this.dragA.onDrag = false;
    },

    // <-- ПРОВЕРКИ ПУТЕЙ -->

    // Проверка замыкания Path на самого себя
    IsNotSelfLocking(path) {
      let a = this.ParseBlockID(path.endPoint.id);
      let b = this.ParseBlockID(path.startPoint.id);
      if (a == b)
        return { result: false, message: "Нельзя сослаться на самого себя." };
      return { result: true, message: null };
    },

    // Попытка установки Path для параметра, у которого уже есть входной аргумент
    // result = булево, можно или нет
    // message = сообщение ошибки
    IsNotDublicateSetPath(path) {
      let result = false;
      let message = "Для этого параметра уже установлено входное значение.";

      if (this.pathsA.some(p => p.endPoint.id == path.endPoint.id))
        return { result, message };
      return { result: true, message: null };
    },

    // Попытка установки Path A выходного параметра в выходной
    // result = булево, можно или нет
    // message = сообщение ошибки
    IsNotOutInOutPathA(path) {
      let result = false;
      let message = "Этот параметр не принимает значений.";

      if (path.endPoint.id.startsWith("out")) return { result, message };
      return { result: true, message: null };
    },

    // Попытка установки Path L в блок у которого уже есть входной Path L
    IsNotSetOutPathL(path) {
      let result = false;
      let message = "Для блока уже установлена входная последовательность.";

      let exist = this.pathsL.some(pl => pl.endPoint.id == path.endPoint.id);
      if (exist) return { result, message };
      return { result: true, message: null };
    },

    // Попытка установки Path L в блок у которого уже есть выходной Path L
    IsNotSetDoublicatePathL(path) {
      let result = false;
      let message = "Для блока уже установлена выходная последовательность.";

      let exist = this.pathsL.some(
        pl => pl.startPoint.id == path.startPoint.id
      );
      if (exist) return { result, message };
      return { result: true, message: null };
    },

    // Попытка установки пути в блок Хранилища
    IsNotSetInStoragePathL(blockID) {
      let result = false;
      let message = "Этот блок не принимает последовательность действий.";

      let exist = this.blocks.some(
        b => b.id == blockID && b.func.value.Group == "Хранение"
      );
      if (exist) return { result, message };
      return { result: true, message: null };
    },
    // <----------------------------------------------------------------------->

    // Удаляет путь принадлежащий конкретному аргументу
    DeletePathArg(arg) {
      let id = arg.id;
      this.pathsA = this.pathsA.filter(
        p => p.startPoint.id !== id && p.endPoint.id !== id
      );
    },

    // удаляет все пути относящиеся к блоку с указанным id
    DeletePaths(idBlock) {
      let id = idBlock.toString();
      this.pathsA = this.pathsA.filter(
        p =>
          this.ParseBlockID(p.startPoint.id) !== id &&
          this.ParseBlockID(p.endPoint.id) !== id
      );
      this.pathsL = this.pathsL.filter(
        p =>
          this.ParseBlockID(p.startPoint.id) !== id &&
          this.ParseBlockID(p.endPoint.id) !== id
      );
    },

    // удаляет логический путь
    DeletePathL(pathL) {
      this.pathsL = this.pathsL.filter(
        p => p.endPoint.id !== pathL.endPoint.id
      );
    },

    // ищет в блоках и возращает аргумент по его ID
    GetPointFromID(id) {
      let p = null;
      for (let i = 0; i < this.blocks.length; i++) {
        for (let j = 0; j < this.blocks[i].inArgs.length; j++) {
          if (this.blocks[i].inArgs[j].id == id)
            return this.blocks[i].inArgs[j];
        }
        for (let j = 0; j < this.blocks[i].outArgs.length; j++) {
          if (this.blocks[i].outArgs[j].id == id)
            return this.blocks[i].outArgs[j];
        }
      }
      return p;
    },

    // Возращает id блока из id аргумента
    ParseBlockID(id) {
      return id.split("_")[2].toString();
    },

    // Возращает индекс аргумента из id аргумента
    ParseIndexID(id) {
      return id.split("_")[1];
    },

    // возвращает блок из id аргумента
    GetBlockFromIdArg(id) {
      let bId = this.ParseBlockID(id);
      return this.blocks.find(b => b.id == bId);
    },

    // Возвращает Boolean из id аргумента, является ли аргумент, аргументом стартового блока
    IsBlockStartFromIdArg(id) {
      let startBlock = this.GetBlockFromIdArg(id);
      return startBlock && startBlock.func.value.NameClass == "Start";
    },

    // поиск свободного уровня для отрисовки Path A
    // на основе двух точек
    GetLevel(pointA, pointB) {
      let idA = this.ParseBlockID(pointA.id);
      let idB = this.ParseBlockID(pointB.id);

      let pathsF = this.pathsA.filter(
        p =>
          this.ParseBlockID(p.startPoint.id) == idA ||
          this.ParseBlockID(p.startPoint.id) == idB ||
          this.ParseBlockID(p.endPoint.id) == idA ||
          this.ParseBlockID(p.endPoint.id) == idB
      );
      let level = 1;
      while (pathsF.some(p => p.level == level)) {
        level++;
      }
      return level;
    },

    // возвращает для входного аргумента источник пути (outArg)
    GetOutArgFromInArg(arg) {
      let path = this.pathsA.find(p => p.endPoint.id == arg.id);
      return path.startPoint;
    },

    // Возвращает все входные аргументы и их типы со всех блоков  {type, arg}
    GetAllInArg() {
      let allInArgs = [];

      for (let i = 0; i < this.blocks.length; i++) {
        let element = this.blocks[i];
        for (let j = 0; j < element.inArgs.length; j++) {
          allInArgs.push({
            type: element.func.value.TypeProperties[j],
            arg: element.inArgs[j]
          });
        }
      }
      return allInArgs;
    },

    //---- подсветка при перетаскивании ----

    // Указывает входные аргументы для подсветки во время перетаскивания
    // руководствуясь выходным значением arg (point)
    ViewCorrectInArgs(arg) {
      let block = this.GetBlockFromIdArg(arg.id);
      let index = this.ParseIndexID(arg.id);
      let type =
        block.func.value.NameClass == "Start"
          ? block.consts[index].Type
          : block.func.value.TypeResults[index];

      let allInArgs = this.GetAllInArg();
      let correctArgs = allInArgs.filter(a => !a.arg.contact && a.type == type);
      for (let i = 0; i < correctArgs.length; i++) {
        correctArgs[i].arg.status = "correct";
      }
    },
    // Указывает входные аргументы для подсветки во время перетаскивания
    // руководствуясь выходным значением arg (point)
    HideCorrectInArgs() {
      let allInArgs = this.GetAllInArg();
      for (let i = 0; i < allInArgs.length; i++) {
        allInArgs[i].arg.status = "";
      }
    }
  },
  mounted() {
    window.addEventListener("mouseup", this.MouseUp);
    window.addEventListener("mousemove", this.MouseMove);
  },
  beforeDestroy() {
    window.removeEventListener("mouseup", this.MouseUp);
    window.removeEventListener("mousemove", this.MouseMove);
  }
};
</script>

<style scoped>
.path-desk {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.point {
  position: absolute;
  width: 10px;
  height: 10px;
  background: blue;
}
</style>