<template>
  <div class="path-l">
    <!-- Анотации -->
    <div
      v-if="debug && Ay < By"
      :style="{color: '#fff', position: 'absolute', left: Curve_M.x1 + 10 + 'px', top: Curve_M.y1 + 10 + 'px'}"
    >{{'x1 = ' + Curve_M.x1}}</div>

    <svg class="svg-path-l">
      <defs>
        <filter
          id="SvgFilter1"
          filterUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="100%"
          height="100%"
        >
          <feGaussianBlur in="SourceAlpha" stdDeviation="4" result="blur" />
          <feOffset in="blur" dx="4" dy="4" result="offsetBlur" />
          <feSpecularLighting
            in="blur"
            surfaceScale="5"
            specularConstant="0.75"
            specularExponent="20"
            lighting-color="#bbbbbb"
            result="specOut"
          >
            <fePointLight x="-5000" y="-10000" z="20000" />
          </feSpecularLighting>
          <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut" />
          <feComposite
            in="SourceGraphic"
            in2="specOut"
            operator="arithmetic"
            k1="0"
            k2="1"
            k3="1"
            k4="0"
            result="litPaint"
          />
          <feMerge>
            <feMergeNode in="offsetBlur" />
            <feMergeNode in="litPaint" />
          </feMerge>
        </filter>
      </defs>
      <!-- <path :d="path" filter="url(#SvgFilter1)" /> -->
      <path :d="path" />

      <!-- точка - центр -->
      <circle
        v-if="debug && Ay < By"
        r="2"
        stroke-width="0"
        :cx="Curve_M.mx"
        :cy="Curve_M.my"
        fill="#fff"
      />

      <circle
        v-if="debug && Ay > By"
        r="2"
        stroke-width="0"
        :cx="Line_M.x1"
        :cy="Line_M.y1"
        fill="#fff"
      />
      <circle
        v-if="debug && Ay > By"
        r="2"
        stroke-width="0"
        :cx="Line_M.x2"
        :cy="Line_M.y2"
        fill="#fff"
      />
      <!-- точка - сглаживания центра -->
      <circle
        v-if="debug && Ay < By"
        r="2"
        stroke-width="0"
        :cx="Curve_M.x1"
        :cy="Curve_M.y1"
        fill="#fff"
      />

      <circle
        v-if="debug && Ay > By"
        r="2"
        stroke-width="0"
        :cx="Line_M.x1"
        :cy="Line_M.y1 + Smooth"
        fill="#fff"
      />
      <circle
        v-if="debug && Ay > By"
        r="2"
        stroke-width="0"
        :cx="Line_M.x2"
        :cy="Line_M.y2 - Smooth"
        fill="#fff"
      />
      <!-- точки - сглаживания концов -->
      <circle v-if="debug" r="2" stroke-width="0" :cx="Ax" :cy="Ay + Smooth" fill="#fff" />
      <circle v-if="debug" r="2" stroke-width="0" :cx="Bx" :cy="By - Smooth" fill="#fff" />
      <!-- вектор сглаживания центра -->
      <line
        v-if="debug && Ay < By"
        v-bind:x1="Curve_M.mx"
        v-bind:y1="Curve_M.my"
        v-bind:x2="Curve_M.x1"
        v-bind:y2="Curve_M.y1"
        stroke="#3ff"
        stroke-width="1"
      />

      <line
        v-if="debug && Ay > By"
        v-bind:x1="Line_M.x1"
        v-bind:y1="Line_M.y1"
        v-bind:x2="Line_M.x1"
        v-bind:y2="Line_M.y1 + Smooth"
        stroke="#3ff"
        stroke-width="1"
      />
      <line
        v-if="debug && Ay > By"
        v-bind:x1="Line_M.x2"
        v-bind:y1="Line_M.y2"
        v-bind:x2="Line_M.x2"
        v-bind:y2="Line_M.y2 - Smooth"
        stroke="#3ff"
        stroke-width="1"
      />
      <!-- векторы сглаживания концов -->
      <line
        v-if="debug"
        v-bind:x1="Ax"
        v-bind:y1="Ay"
        v-bind:x2="Ax"
        v-bind:y2="Ay + Smooth"
        stroke="#3ff"
        stroke-width="1"
      />
      <line
        v-if="debug"
        v-bind:x1="Bx"
        v-bind:y1="By"
        v-bind:x2="Bx"
        v-bind:y2="By - Smooth"
        stroke="#3ff"
        stroke-width="1"
      />
    </svg>
    <div class="svg-end-l" :style="{left: (Bx - 35) + 'px', top: (By - 15) + 'px'}">
      <button class="exit-btn" @click="$emit('delete_path')" />
      <svg>
        <path d="M 0,5 L 0,30 C 50,40 20,40 70,30 L 70,5 C 70,0 65,0 65,0 L 5,0 C 0,0 0,5 0,5" />
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    x_name: String,
    Ax: { type: Number },
    Ay: { type: Number },
    Bx: { type: Number },
    By: { type: Number }
  },
  data() {
    return {
      debug: false
    };
  },
  computed: {
    path() {
      // вход
      let str = `M ${this.Ax},${this.Ay}`;
      if (this.Ay > this.By) {
        // кривая A
        str += `C ${this.Ax},${this.Ay + this.Smooth}`;
        str += ` ${this.Line_M.x1},${this.Line_M.y1 + this.Smooth}`;
        str += ` ${this.Line_M.x1},${this.Line_M.y1}`;
        // прямая
        str += `L ${this.Line_M.x2},${this.Line_M.y2}`;
        // кривая B
        str += `C ${this.Line_M.x1},${this.By - this.Smooth}`;
        str += ` ${this.Bx},${this.By - this.Smooth}`;
        str += ` ${this.Bx},${this.By}`;
      } else {
        // кривая A
        str += `C ${this.Ax},${this.Ay + this.Smooth}`; // 1
        str += ` ${this.Curve_M.x1},${this.Curve_M.y1}`; // 2
        str += ` ${this.Curve_M.mx},${this.Curve_M.my}`; // 3
        // кривая B
        str += `S ${this.Bx},${this.By - this.Smooth}`; // 2
        str += ` ${this.Bx},${this.By}`; // 3
      }
      return str;
    },
    // сглаживание
    Smooth() {
      let s1 =
        this.MathLengthLine(
          { X: this.Ax, Y: this.Ay },
          { X: this.Bx, Y: this.By }
        ) / 4;
      let s2 = Math.abs(this.Ax - this.Bx);
      let s3 = 150;
      return Math.min(s1, s2, s3);
    },
    // Средняя точка
    Curve_M() {
      // центр между точками
      let mx = (this.Ax + this.Bx) / 2;
      let my = (this.Ay + this.By) / 2;
      // половина растояния по горизонтали меду блоками
      let s1 = Math.abs(this.Ax - this.Bx) / 2;
      // разница высоты
      let upOffset = Math.abs(this.Ay - this.By);
      // относительность
      let left = this.Ax < this.Bx;

      // направляющяя центра для А
      let x1 = (mx + this.Ax) / 2;
      let y1 = (my + this.Ay + this.Smooth) / 2;

      // Корректировка 1 (Y1 не должен быть ниже сглаживания А)
      if (y1 < this.Ay + this.Smooth) y1 += this.Ay + this.Smooth - y1;

      // Корректировка 2
      if (upOffset < this.Smooth) {
        if (left) x1 = Math.min(x1 + s1 - (s1 * (upOffset / this.Smooth)), mx);
        else x1 = Math.max(x1 - s1 + s1 * (upOffset / this.Smooth), mx);
      }

      return {
        x1,
        y1,
        mx,
        my
      };
    },
    Line_M() {
      // центр между точками
      let mx = (this.Ax + this.Bx) / 2;
      //let my = (this.Ay + this.By) / 2;
      return {
        x1: mx,
        y1: this.Ay,
        x2: mx,
        y2: this.By
      };
    }
  },
  methods: {
    // Вычисляет длинну отрезка
    MathLengthLine(point1, point2) {
      return Math.sqrt(
        Math.pow(point1.X - point2.X, 2) + Math.pow(point1.Y - point2.Y, 2)
      );
    }
  }
};
</script>

<style scoped>
.path-l {
  position: absolute;
  width: 100%;
  height: 100%;
}
.svg-path-l {
  width: 100%;
  height: 100%;
  stroke: rgba(255, 255, 255, 0.6);
  stroke-width: 14;
  stroke-linecap: butt;
  stroke-linejoin: round;
  fill: none;
}
/* Иконка */
.svg-end-l {
  position: absolute;
  width: 70px;
  height: 40px;
}
.svg-end-l svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
/* Кнопка */
.exit-btn {
  pointer-events: all;
  outline: none;
  position: absolute;
  left: 60px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  border: 2px solid #fff;
  background-color: #333;
  background-image: url(../../../assets/images/close_0.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center;
  transition: opacity 0.1s;
}
.exit-btn:hover {
  opacity: 1;
}
</style>