<template>
  <svg>
    <path :d="path" />
    <!-- <line :x1="Ax" :y1="Ay" :x2="Bx" :y2="By" stroke-width="3" /> -->
  </svg>
</template>

<script>
export default {
  props: {
    startDownDirect: { type: Boolean, default: false },
    level: { type: Number, default: 1 },
    Ax: { type: Number },
    Ay: { type: Number },
    Bx: { type: Number },
    By: { type: Number }
  },
  computed: {
    path() {
      let up = this.Ay > this.By;
      let offset = this.level * 15;
      let left = this.Ax > this.Bx ? this.Bx - offset : this.Ax - offset;
      let smooth =
        (Math.abs(this.Ay - this.By) > 40 ? 40 : Math.abs(this.Ay - this.By)) /
        2;
      // Если выход влево
      if (!this.startDownDirect) {
        // вход
        let str = `M ${this.Ax},${this.Ay}`;
        // до левой трассы
        str += `L ${left},${this.Ay}`;
        // Поворот "А"
        str += `C ${left - smooth},${this.Ay}`; // 1
        if (up) {
          str += ` ${left - smooth},${this.Ay - smooth}`; // 2
          str += ` ${left - smooth},${this.Ay - smooth}`; // 3
        } else {
          str += ` ${left - smooth},${this.Ay + smooth}`; // 2
          str += ` ${left - smooth},${this.Ay + smooth}`; // 3
        }
        // линия вверх / вниз
        if (up) {
          str += `L ${left - smooth},${this.By + smooth}`;
        } else {
          str += `L ${left - smooth},${this.By - smooth}`;
        }
        // Поворот "В"
        if (up) {
          str += `C ${left - smooth},${this.By + smooth}`; // 1
        } else {
          str += `C ${left - smooth},${this.By - smooth}`; // 1
        }
        str += ` ${left - smooth},${this.By}`; // 2
        str += ` ${left},${this.By}`; // 3
        // выход
        str += `L ${this.Bx},${this.By}`;
        return str;
      }
      // Если выход вниз
      else{
        left = this.Ax > this.Bx ? this.Bx : this.Ax;
        // вход
        let str = `M ${this.Ax},${this.Ay}`;
        // до левой трассы
        str += `L ${left},${this.Ay}`;
        // линия вверх / вниз
        if (up) {
          str += `L ${left},${this.By + smooth}`;
        } else {
          str += `L ${left},${this.By - smooth}`;
        }
        // Поворот "В"
        if (up) {
          str += `C ${left},${this.By + smooth}`; // 1
        } else {
          str += `C ${left},${this.By - smooth}`; // 1
        }
        str += ` ${left},${this.By}`; // 2
        str += ` ${left + smooth},${this.By}`; // 3
        // выход
        str += `L ${this.Bx},${this.By}`;
        return str;
      }
    }
  }
};
</script>
<style scoped>
svg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  stroke: #fff;
  stroke-width: 5;
  stroke-linejoin: round;
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 15 10;
  stroke-dashoffset: 0;
}
path {
  animation-name: snake;
  animation-duration: 5s;
  animation-delay: 0;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes snake {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 100;
  }
}
</style>